[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
teamcity-messages = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
requests = "*"
flask-pymongo = "*"
celery = {version = "*",extras = ["redis"]}
marshmallow = "*"

[requires]
python_version = "3.6"
