[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
isort = "*"
teamcity-messages = "*"
coverage = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
requests = "*"
webargs = "*"
flask-pymongo = "*"
celery = {extras = ["redis"],version = "*"}

[requires]
python_version = "3.6"
